/* color variables */
:root {
	--color: #ffffff;
	--currentMember-bg: #cc8534;
	--otherMember-bg: #41c0a0;
	--send-bg: #489c87;

	/* light theme */
	--light-app-bg: #d1d4d1;
	--light-main-bg: #f3f3f1;
	--light-accent-bg: #15524f;

	/* dark theme */
	--dark-app-bg: #0a1d29;
	--dark-main-bg: #063047;
	--dark-accent-bg: #0f2a38;
}

body {
	max-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--light-app-bg);
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: var(--light-main-bg);
	min-width: 60vw;
	max-width: 60vw;
	min-height: 90vh;
	max-height: 90vh;
}

.chat {
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	border-radius: 0.5rem;
	/* background: #ced1d4; */
	color: var(--color);
}

.app-header {
	background-color: var(--light-accent-bg);
	text-align: center;
	color: var(--light-main-bg);
	padding: 1rem;
	border-bottom: 2px solid var(--light-app-bg);
	border-radius: 0.5rem 0.5rem 0 0;
}

.messages-list {
	flex: 1;
	align-items: flex-start;
	padding: 0 0.5rem;
	overflow-y: auto;
}

.messages-message {
	display: flex;
	margin-top: 1rem;
}

.messages-message.currentMember {
	flex-direction: row-reverse;
	text-align: right;
}

.message-content {
	display: inline-block;
	margin: 0 0.5rem;
}

.currentMember > .message-content {
	align-items: flex-end;
}

.messages-message > .avatar {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	display: inline-block;
	margin: 1.2rem 0rem -0.5rem;
}

.message-content > .username {
	display: block;
	color: var(--light-accent-bg);
	font-size: 0.8rem;
	padding-bottom: 0.2rem;
}

.message-content > .text {
	padding: 1rem;
	min-width: 10vw;
	max-width: 35vw;
	margin: 0;
	border-radius: 1rem;
	background-color: var(--currentMember-bg);
	color: var(--color);
	display: inline-block;
	border-radius: 0 1rem 1rem 1rem;
}

.currentMember > .message-content .text {
	background-color: var(--otherMember-bg);
	border-radius: 1rem 0 1rem 1rem;
}

form {
	display: flex;
	align-content: center;
	justify-content: space-between;
	width: 100%;
	max-width: 90%;
	margin: 1rem auto 1rem;
}

.input {
	font-size: 1rem;
	padding: 0.5rem;
	background-color: var(--light-accent-bg);
	border-top: 2px solid var(--light-app-bg);
	border-radius: 0 0 0.5rem 0.5rem;
}

.input-text {
	float: left;
	height: 2rem;
	width: 95%;
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	margin: 0 0.5rem 0 0;
	background-color: var(--light-main-bg);
	font-size: 1rem;
}

.input-submit {
	float: right;
	position: relative;
	cursor: pointer;
	padding: 0.5rem 1rem;
	margin: 0 0.5rem 0 0;
	border-radius: 0.5rem;
	font-size: 1rem;
	color: var(--color);
	background-color: var(--send-bg);
	text-align: center;
}
